#logo {
    width: 50px;
}
.brand {
    width: 80px;
    object-position: center;
}
.titler {
    font-size:50px; font-family:joan;
}
footer {
    height: 100px;
}

.navbar {
    background-color: #71473E;
    font-family: Jacques Francois;
}
.footer {
    background-color: #71473E;
    padding: 5px;
}


/* Global */
.navbar-brand {
    color: #FF6CBD;
    font-size: 38px;
}
.navbar-brand:hover {
    color: white !important;
}
.nav-link {
    color: #FDB7C6;
    font-size: 28px;
}
.nav-link:hover {
    color: white !important;
}
.active {
    color: #FF6CBD !important;
}
body {
    background-color: #C4B7B7;
}
.footer_p {
    font-family: Jaldi;
    font-size: 20px;
    color: #FDB7C6;
}

.link {
    color: #962B2B;
}
.link:hover {
    color: white;
}
.page{
    margin-top:50px !important;
}
p {
    font-family:joan;
}
.card-description{
    margin-left:10px;
    margin-right: 10px;
    background-color:#C87E7E ;
    color:#3b3b3b;
}
h3 {
    font-family: joan;
}
h4 {
    font-family: joan;
}
.footer_img {
    color: #FDB7C6;
}
.content-font {
    font-family: joan;
}
.navbar-toggler {
    background-color: #FDB7C6;
}
@media only screen and (max-width: 900px){
    footer {
        height: 156px;
    }
}
.thanks{
    text-align: center;
}
.hooray{
    background-image:;
}


/* homepage*/
.card {
    margin:auto;margin-top: 10px;margin-bottom: 10px;
        width: 20rem; background-color: #962b2b; color:white;
}
.mission-statement {
    background-color: #C87E7E;
     text-align: center;
      font-size: 35px;
      outline: black;
      outline-width: 10px;
      outline-style: solid;
      margin-top: 20px;
      margin-bottom: 20px;
}
.card-images {
    width: 200px; height: 150px; margin: auto;
}
.card-button {
background-color: #C87E7E;color:;
}
@media only screen and (max-width: 1244px) and (min-width: 992px) {
    .card.home {
        width: 225px;
    }
}

/* Curses */
.card-images {
    margin-top: 20px;
}

/* Check out page */
.btn-outline-secondary {
    background-color:#FDB7C6 ;
}
.btn-outline-secondary h6 {
    color:#71473E;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary.active, .open>.dropdown-toggle.btn-outline-secondary {
    background-color: #d45990 !important;
}

.btn-outline-secondary:hover h6 {
    color:white !important;
}
.border-end {
    border-color: gray !important;
}
.img-thumbnail.check-out {
    height: 100px;
    width: 150px;
}


/* Professional Services */
.professional_service_block_red {
    background-color: #962B2B;
}

/* Payment Page */
.btn-primary {
    background-color: #962B2B;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #e48499;
}
.btn-primary:hover span {
    color:#3d2722
}



/* About Us Page */
